<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926460402818-gslsjsrc9dj60f2gv7erb953siunmmd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926460402818-gslsjsrc9dj60f2gv7erb953siunmmd9</string>
	<key>API_KEY</key>
	<string>AIzaSyDusu5CBnfO8YQUj1pgp3FOgtMAWyOGn8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>926460402818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.insurease</string>
	<key>PROJECT_ID</key>
	<string>insurease-8bfa5</string>
	<key>STORAGE_BUCKET</key>
	<string>insurease-8bfa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926460402818:ios:7ce59c6128e2e10278689b</string>
	<key>DATABASE_URL</key>
	<string>https://insurease-8bfa5-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>